[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "constants"]
	path = constants
	url = https://github.com/r-quantities/constants
[submodule "errors"]
	path = errors
	url = https://github.com/r-quantities/errors
[submodule "quantities"]
	path = quantities
	url = https://github.com/r-quantities/quantities
[submodule "units"]
	path = units
	url = https://github.com/r-quantities/units
